.recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width: 580px) {
    .recipes {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}